<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <div id="header">
        <h1>Add a New User</h1>
        <a href="/users">Home</a>
    </div>
    <form action="/users/create" method="post" id="input-container">
        <div class="form">
            <label for="name">First Name: </label>
            <input type="text" name="first_name" required>
        </div>
        <div class="form">
            <label for="name">Last name: </label>
            <input type="text" name="last_name" required>
        </div>
        <div class="form">
            <label for="email">Email: </label>
            <input type="email" name="email" required>
        </div>
            <div class="form">
            <input type="submit" value="Create">
        </div>
    </form>

</body>
</html>