<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="new-dojo">
        <h1>New Dojo</h1>
        <form action="/dojos/create" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <input type="submit" value="Create">
        </form>
    </div>
    <div id="all-dojos">
        <h1>All Dojos</h1>
        <ul id="dojo-names">
            {% for dojo in all_dojos %}
            </li>
                <p><a href="/dojos/{{dojo.id}}">{{ dojo.name }}</a></p>
            </li>
            {% endfor %}
        </ul>
        <a href="/ninjas">Add Ninja</a>
    </div>
</body>
</html>