<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <a href="/users">Home</a>
    <div id="header">
        <h1>Edit User {{this_user.id}}</h1>
        <a href="/users">Home</a>
    </div>
    <form action="/users/{{this_user.id}}/update" method="post" id="input-container">
        <div class="form">
            <label for="name">First Name: </label>
            <input type="text" name="first_name" value="{{ this_user.first_name }}" >
        </div>
        <div class="form">
            <label for="name">Last name: </label>
            <input type="text" name="last_name" value="{{ this_user.last_name }}" >
        </div>
        <div class="form">
            <label for="email">Email: </label>
            <input type="email" name="email" value="{{ this_user.email }}" >
        </div>
            <div class="form">
            <input type="submit" value="Update">
            <a href="/users/{{ this_user.id }}">Show User</a>
        </div>
    </form>
</body>
</html>