<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (All)</title>
</head>
<body>
    <h1>All Users</h1>
    <ul>
        {% for one_user in all_users %}
        <li>
            {{ one_user.id}}) Name: {{one_user.first_name}} last: {{one_user.last_name}} email: {{one_user.email}}
            <a href="/users/{{ one_user.id }}">Show</a> |
            <a href="/users/{{ one_user.id }}/edit">Edit</a> |
            <a href="/users/{{ one_user.id }}/destroy">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <a href="/users/new">Add a New User</a>
</body>
</html>